.CardSection {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  width: 100%;
}

.SkillSetCard,
.ActivityCard {
  background-color: var(--color-primary);
  color: var(--color-neutral-tint);
}

.card-container {
  display: grid;
  justify-content: stretch;
  width: 100%;
}

.Education {
  border-top: 0.5rem solid var(--color-neutral);
}

.Work {
  border-top: 0.5rem solid var(--color-neutral-shade);
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
