.CardSection {
  display: grid;
  row-gap: 1rem;
  width: 100%;
}

.SkillSetCard,
.ActivityCard {
  background-color: var(--color-primary);
  color: var(--color-neutral-tint);
}

.SkillSetCard h3,
.ActivityCard h3 {
  color: var(--color-neutral-tint);
}

.card-container {
  display: grid;
  justify-content: stretch;
  width: 100%;
  gap: 1rem;
}

.Education {
  border-top: 0.5rem solid var(--color-neutral);
}

.Work {
  border-top: 0.5rem solid var(--color-neutral-shade);
}

@media (min-width: 800px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
