.Intro {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  color: var(--color-dark);
}

.profile-pic {
  border-radius: 50%;
  width: 50%;
  min-width: 100px;
  max-width: 200px;
}

@media (min-width: 400px) {
  .Intro {
    grid-template-columns: 1fr 2fr;
  }
}
