.ProjectSection {
  display: grid;
  row-gap: 1rem;
  justify-content: stretch;
}

.ProjectCard {
  display: grid;
  background-color: var(--color-neutral-tint);
  color: var(--color-dark);
  justify-items: stretch;
}

.projects-container {
  display: grid;
  gap: 1rem;
}

.project-image {
  border-radius: 0.5rem;
  justify-self: center;
  margin-bottom: 1rem;
}

@media (min-width: 960px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .narrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
