@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");

* {
  font-family: "Catamaran", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin-bottom: 0.7em;
  color: var(--color-dark);
}

h1 {
  font-size: var(--font-size-x-big);
}

h2 {
  font-size: var(--font-size-big);
}

h3 {
  font-size: var(--font-size-medium-big);
}

h4 {
  font-size: var(--font-size-medium);
}

p {
  font-size: var(--font-size-medium-small);
}

span {
  font: inherit;
}
